@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #edf1d6; /* Warna latar belakang */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


*{
  font-family: Arial, sans-serif;
}


.container {
  text-align: center;
  flex: 1;
}

header {
  color: #9dc08b; /* Warna teks header */
  font-family: "Lora", serif;
  font-size: 40px;
  margin-top: 20px;
}

.image-container {
  margin: 20px 0;
}

.kirana-image {
  max-width: 35%;
  height: auto;
}

.ChangePassword-box {
  background-color: #9dc08b; /* Warna kotak login */
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto 20px;
}

.ChangePassword-box h2 {
  color: white;
  margin-bottom: 20px;
  justify-content: center;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  color: white;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.ChangePassword-button {
  background-color: #609966;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.ChangePassword-button:hover {
  background-color: #77a392;
}

.signup-link {
  text-align: center;
  margin-top: 10px;
}

.signup-link a {
  color: #1a73e8;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

footer {
  background-color: #609966; /* Warna footer */
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 100px;
}
